html,
body,
#root {
  height: 100%;
}

body {
  background: white;
  margin: 0;
  // display: grid;
  padding: 3em;
  place-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  ul {
    a {
      padding: 0 2rem;
      color: black;
    }
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
}

.home {
  background-color: white;
  width: 100%;
  height: 100%;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.boxes {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.box {
  display: flex;
  flex-direction: column;
  max-height: 100%;

  h1 {
    font-size: 20px;
    margin: 0 0 1rem 0;
  }

  .content {
    padding-top: 1em;
  }

  ol {
    margin-left: 0;

    li {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }
  }
}

.additional-features {
  max-height: 95%;
}

.button {
  background: hotpink;
  border: 1px solid transparent;
  color: white;
  margin-right: 1em;
  padding: .25em .75em;
  transition: all .25s ease-in;

  &:hover {
    background: white;
    border: 1px solid hotpink;
    color: #333;
  }
}